.product{

    transition: transform .2s;
    border-radius:12px;

}

.product:hover{

    transform:scale(1.05);

}

.product-img{

    height:200px;
    object-fit:cover;

}

.price{

    font-size:1.2rem;
    font-weight:bold;
    color:green;

}
